[submodule "sprite-utils"]
    path = src/lib/sprite-utils
    url = https://github.com/kittykatattack/spriteUtilities.git

[submodule "smoothie"]
    path = src/lib/smoothie
    url = https://github.com/kittykatattack/smoothie.git
