@import "~normalize.css";
@import "../globals";

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  background-color: black;
}

.app {
  font-size: 3vh;
  font-family: 'Play', sans-serif;
  color: $color-primary;
  margin: 0 auto;
  padding: 3vh 0;
  background-color: $color-background;
  max-width: 57vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
