@import "~normalize.css";
@import "../globals";

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  background-color: black;
  font-size: 3vh;
  font-family: 'Play', sans-serif;
  color: $color-primary;
}

.app {
  margin: 0 auto;
  padding: 20vh 10vw;
  background-color: $color-background;
  max-width: 50vh;
  height: 100vh;
}
