.ability {
  height: 64px;
  width: 64px;
  background-size: 64px 64px;
  background-color: #333;
  border-radius: 4px;
  display: inline-block;
  margin: auto;

  &:not(:first-of-type) {
    margin-left: 32px;
  }

  &.ability-rock {
    background-image: url(/assets/rock.png);
  }

  &.ability-teleport {
    background-image: url(/assets/teleport.png);
  }
}
